@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@utility container {
  margin-inline: auto;
  padding-inline: 1.5rem;
  
  @variant lg {
    padding-inline: 2rem;
  }
}

@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1440px;

  --font-primary: 'Poppins', ui-sans-serif, system-ui, sans-serif;
  --font-accent: 'Modak', ui-serif, Georgia;

  --color-background: #ffffff;
  --color-foreground: #0d0d0d;

  --color-primary-0: #04150d;
  --color-primary-100: #0d3f28;
  --color-primary-200: #166a43;
  --color-primary-300: #1f945d;
  --color-primary-400: #0fc772;
  --color-primary-500: #51db9b;
  --color-primary-600: #6be0aa;
  --color-primary-700: #97e9c3;
  --color-primary-800: #cbf4e1;
  --color-primary-900: #eefbf5;

  --color-secondary-300: #310A31;
  --color-secondary-600: #847996;
  
  --color-accent-0: #0d0d0d;
  --color-accent-400: #5a5a5a;
  --color-accent-700: #d4d4d4;
  --color-accent-800: #ececec;
  --color-accent-900: #f0f0f0;
  --color-accent-500: #D5B942;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2a2b2b;
    --foreground: #ececec;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

@layer base {
  .h1 {
    @apply text-[2.5rem] xl:text-5xl leading-10 xl:leading-12 tracking-tight mb-4;
  }
  
  .h2 {
    @apply text-[2rem] xl:text-[2.5rem] font-bold leading-9 xl:leading-11 tracking-tighter mb-3;
  }

  .h3 {
    @apply text-2xl xl:text-[2rem] font-bold leading-8 xl:leading-10 tracking-tight mb-3;
  }

  .h4 {
    @apply text-xl xl:text-[1.75rem] font-bold leading-7 xl:leading-9 tracking-tight mb-3;
  }

  .h5 {
    @apply text-lg xl:text-[1.5rem] font-semibold leading-6 xl:leading-8 tracking-tight mb-2;
  }

  .h6 {
    @apply text-base xl:text-[1.25rem] font-semibold leading-5 xl:leading-7 tracking-tight;
  }

  p {
    @apply text-base font-medium leading-[1.6rem];
  }
}